# Documents exclus
*.docx
*.pdf
*.zip
*.tex
*.png
*.jpg
*.jpeg
*.gif

# Dossiers exclus
extracted_text/
extracted_zip/

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
*.egg

# Django
*.sqlite3
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Node / frontend
node_modules/
dist/
build/
.vite/
.env
.env.local
.env.*.local
.venv/
env/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
