@import "tailwindcss";

@theme {
  --color-primary: #D68240;
  --color-secondary: #F2CC5B;
  --color-dark: #0A1316;
  --color-card: #121A1D;
  --color-card-light: #182F31;
  --color-text-gray: #797B78;
  --color-text-white: #FFFFFF;
  --color-text-light: #B2BBBB;
}
